@{ 
    ViewData["Title"] = "Modificar Cadete";
}
@model TrabajoPractico3.Models.ViewModels.CadeteViewModel

<section class="section-padding mx-auto seccion-form">
    <form method="post" class="mx-auto form-login" asp-controller="Cadetes" asp-action="Modificar">
        <h2 class="mb-5 text-center">Modificar Cadete</h2>
        <div class="input-group">
            <input type="hidden" value="@Model.Id" name="id" required>
        </div>
        <div class="input-group">
            <span class="input-group-text" id="basic-addon1"><i class="fas fa-user">Nombre Completo</i></span>
            <input type="text" class="form-control" value="@Model.Nombre" placeholder="@Model.Nombre" aria-describedby="basic-addon1" name="nombre" required>
        </div>
        <div class="input-group mt-4">
            <span class="input-group-text" id="basic-addon1"><i class="far fa-address-card">Direccion</i></span>
            <input type="text" class="form-control" value="@Model.Direccion" placeholder="@Model.Direccion" aria-describedby="basic-addon1" name="direccion" required>
        </div>
        <div class="input-group mt-4">
            <span class="input-group-text" id="basic-addon1"><i class="fas fa-mobile-alt">Telefono</i></span>
            <input type="text" class="form-control" value="@Model.Telefono" placeholder="@Model.Telefono" aria-describedby="basic-addon1" name="telefono" required>
        </div>
        <button class="btn btn-primary w-100 mt-4" type="submit">Modificar</button>
    </form>
</section>