@{
    ViewData["Title"] = "Listado de Pedidos";
}
@model List<TrabajoPractico3.Models.ViewModels.PedidoViewModel> 

<div class="container">

    <div class="row">
        <div class="col-sm-10">
            <h3>Listado de Pedidos</h3>
        </div>
        <div class="col-sm-2">
            <a class="btn btn-success d-block" asp-action="CreatePedido" asp-controller="Pedidos">Agregar pedido</a>
        </div>

        <div class="row">
            
                @if (Model.Count() > 0)
                {
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <td>Nro de pedido</td>
                                <td>Observacion</td>
                                <td>Estado</td>
                                <td>Nombre del cliente</td>
                                <td>Acciones</td>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.Id</td>
                                    <td>@item.Obs</td>
                                    <td>@item.Estado.ToString()</td>
                                    <td>@item.Cliente.Nombre</td>
                                    <td>
                                        <a asp-controller="Pedidos" asp-action="Modificar" asp-route-id="@item.Id" class="btn btn-warning">Editar</a>
                                        <a asp-controller="Pedidos" asp-action="Borrar" asp-route-id="@item.Id" class="btn btn-danger">Eliminar</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <p>No existen registros</p>
                }

        </div>
    </div>
</div>