@{
    ViewData["Title"] = "Modificar Pedido";
}
@model TrabajoPractico3.Models.Pedido

<section class="section-padding mx-auto seccion-form">
    <form method="post" class="mx-auto form-login" asp-controller="Pedidos" asp-action="ModificarPedido">
        <h2 class="mb-5 text-center">Modificar Pedido</h2>
        <div class="input-group">
            <input type="hidden" value="@Model.Id" name="id" required>
        </div>
        <div class="input-group mt-4">
            <span class="input-group-text" id="basic-addon1"><i class="far fa-address-card">Observacion</i></span>
            <input type="text" class="form-control" value="@Model.Obs" aria-describedby="basic-addon1" name="obs" required>
        </div>
        <div class="input-group mt-4">
            <span class="input-group-text" id="basic-addon1"><i class="fas fa-mobile-alt">Estado</i></span>
            <select class="form-control" id="estado" name="estado" value="@Model.Estado.ToString()" required>
                <option value="@TrabajoPractico3.Models.TipoDeEstados.En_camino">En camino</option>
                <option value="@TrabajoPractico3.Models.TipoDeEstados.Entregado">Entregado</option>
                <option value="@TrabajoPractico3.Models.TipoDeEstados.No_entregado">No entregado</option>
            </select>
        </div>

        <label for="formGroupExampleInput">Datos del Cliente</label>
        <div class="input-group">
            <span class="input-group-text" id="basic-addon1"><i class="fas fa-user">Nombre y apellido</i></span>
            <input type="text" class="form-control" value="@Model.Cliente.Nombre" aria-describedby="basic-addon1" name="nombre" required>
        </div>
        <div class="input-group mt-4">
            <span class="input-group-text" id="basic-addon1"><i class="far fa-address-card">Dirección</i></span>
            <input type="text" class="form-control" value="@Model.Cliente.Direccion" aria-describedby="basic-addon1" name="direccion" required>
        </div>
        <div class="input-group mt-4">
            <span class="input-group-text" id="basic-addon1"><i class="fas fa-mobile-alt">Teléfono</i></span>
            <input type="text" class="form-control" value="@Model.Cliente.Telefono" aria-describedby="basic-addon1" name="telefono" required>
        </div>
        <button class="btn btn-primary w-100 mt-4" type="submit">Modificar</button>
    </form>
</section>  